*{
    background-color: white;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-family: sans-serif;
}
.navbar *{background-color: black;
color: white;}
a{
    text-decoration: none;
}
a:hover{
opacity: 50%;
}
.navbar h1{
    text-align: center;
}
.navbar{
    height: 60px;
    width: 100%;
    text-align: center;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    height: 30px;
    gap: 15px;
    list-style-type: none;
    font-size: 1.25em;
    gap: 100px;
}
