*{
    box-sizing: border-box;
    font-family: sans-serif;}
body{
    margin: 0;
    padding: 0;
}
.navbar *{background-color: #00713D;
color: white;
padding: 0;
margin: 0;
color: #fff;
}
a{
    text-decoration: none;
}
a:active{
    color: #710034;
    }
a:visited{
    color:white;
}
a:hover{
opacity: 50%;
    }
.navbar{
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
    height: 100%;
    list-style-type: none;
    font-size: 150%;
    gap: 15%;
}
.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    opacity: 0;
}
.slide > img{
    display: block;
    width:100%;
    object-position: center;
    object-fit: cover;
}
.slide[data-active]{
    opacity: 1;
}
.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .5);

}
.carousel-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}
.carousel-button.prev{
    left: 2rem;
}
.carousel-button.next{
    right: 2rem;
}
.homepage{
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -6.25%;
    display: block;
}
h3{
    color: black;
}
.forms{
    text-align: center;
    width: 500px;
    clear: both;
    margin: auto;
}
.forms input{
    width: 500px;
    clear: both;
}
.message input{
    height: 250px;
}
.footerIndex{
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    text-align: center;
}
.footerAbout{
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    text-align: center;
}
.footerResources{
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    text-align: center;
}
.footerContact{
    position: absolute;
    bottom: -50%;
    left: 0;
    right: 0;
    text-align: center;
}
.socialMedia{
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 1.5em;
}
.aboutUs img{
    float: right;
    border: solid;
}
.active{
    font-weight: bold;
    text-decoration: underline;
}
